# example Filtronaut.config file
# directly launch favorites mode with Win-F:
Hotkey Launch: !Esc	openWindows
Hotkey Launch: #f	Favorites
# restrict open windows to Outlook windows with Alt-O:
Hotkey Class: !o	rctrl_renwnd32
# restrict open windows to Edge windows with Alt-E:
Hotkey Class: !e	Chrome_WidgetWin_1
# Turn off sniplet autosave by defining Ctrl-S as Save hotkey:
Hotkey Save: ^s
# 
Monitor 1:!3	c
Monitor 1:^3	x
Monitor 2:!1	c
Monitor 2:^1	x
Monitor 3:!2	c
Monitor 3:^2	%,0,0,20,0
Hotkey Pdf: ^p
Mode powerpoint:!p	i)\.ppt[xm]?$
Sniplets Sniplets:^k	C:\Temp/macros
Sniplets E-mail:^e	C:\Temp/e-mail
Path Bookmarks:c:\Temp\foo
Exclude OpenWindows:^Kurznotizen$
Exclude *:i)junk
