# example Filteristor.config file
Hotkey Launch: #!l	openWindows
Hotkey Launch: #!f	Favorites
Hotkey Class: !o	rctrl_renwnd32
Hotkey Class: !e	Chrome_WidgetWin_1
Hotkey Save: ^s
Monitor 1:^3	z
Monitor 1:+^3	x
Monitor 2:^1	z
Monitor 2:+^1	x
Monitor 3:^2	z
Monitor 3:+^2	%,0,0,20,0
Hotkey Pdf: ^z
Mode powerpoint:^p	i)\.ppt[xm]?$
Sniplets Sniplets:^k	C:\Temp/macros
Sniplets E-mail:^e	C:\Temp/e-mail
Path Bookmarks:c:\Temp\foo
Exclude OpenWindows:^Kurznotizen$
Exclude *:i)junk
